<div class="relative flex items-center justify-center min-h-screen bg-cover bg-center" style="background-image: url('/assets/images/background.jpg');">
  <!-- Signup Form Section -->
  <div class="flex flex-col w-full md:w-1/2 mx-auto p-8 z-10 bg-white bg-opacity-75 rounded-lg shadow-lg">
    <div class="flex flex-col">
      <h1 class="font-poppins font-extrabold w-full text-center text-2xl text-indigo-700">Create an account</h1>
      <p class="text-sm font-poppins font-extralight text-center pt-2">
        Already have an account? 
        <a [routerLink]="'/login'" class="text-indigo-700 cursor-pointer underline">Log in</a>
      </p>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="signup()">
      <div class="flex flex-col space-y-2 pt-24">
        <label for="profileName" class="text-sm font-light text-title-900">What should we call you?</label>
        <input
          id="profileName"
          type="text"
          formControlName="username"
          placeholder="Enter your profile name"
          class="px-3 py-3 border text-sm font-extralight border-title-600 rounded-xl shadow-sm placeholder-title-600"
        />
      </div>

      <div class="flex flex-col space-y-2 pt-8">
        <label for="email" class="text-sm font-light text-title-900">What’s your email?</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email address"
          class="px-3 py-3 border text-sm font-extralight border-title-600 rounded-xl shadow-sm placeholder-title-600"
        />
      </div>

      <div class="flex flex-col space-y-2 pt-8">
        <div class="flex flex-row justify-between items-end">
          <label for="password" class="text-sm font-light text-title-900">Create a password</label>
          <div class="flex flex-row items-center cursor-pointer" (click)="togglePasswordVisibility()">
            <img [src]="isPasswordVisible ? '/assets/images/hide.png' : '/assets/images/show.png'" class="w-5 h-auto">
            <p class="font-poppins text-xs font-light text-title-900 ml-1">{{ isPasswordVisible ? 'Hide' : 'Show' }}</p>
          </div>
        </div>
        <input
          id="password"
          [type]="isPasswordVisible ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
          class="px-3 py-3 border text-sm font-extralight border-title-600 rounded-xl shadow-sm placeholder-title-600"
        />
        <p class="font-poppins text-xs font-light text-title-900">Use 8 or more characters with a mix of letters, numbers & symbols</p>
      </div>

      <button
        id="signupBtn"
        type="submit"
        [disabled]="signUpForm.invalid"
        class="font-poppins mt-12 px-4 py-3 w-full text-white text-lg font-bold rounded-2xl bg-indigo-600 hover:bg-indigo-700 disabled:bg-gray-300"
      >
        Create an account
      </button>
    </form>
  </div>
</div>
